@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@plugin "daisyui" {
	themes: fantasy --default, dracula --prefersdark;
}

@theme inline {
	--breakpoint-tablet: 480px;
	--breakpoint-large: 1200px;
}
